*{
   box-sizing: border-box;
}
/* MTM1544 Week 1: your stylesheet.
   This file is already linked from index.html. Write your rules below.
   Start by changing the body background colour and saving, to confirm the link works. */
   /* First step changing the background color to red */
   /* Edit i ended up changing it from the first suggested selection red colour to something lighter lol */
body {
   background-color:bisque;
}
/* To style all paragraphs */
p {
   color:blue;
   line-height: 1.5;
}
/* now style all h2 headings */
h2 {
   color: green;
}
/* apply the same font to paragraphs and h2 headings. the commaapplies the rule to both p and h2. */
p, h2 {
   font-family: Arial, sans-serif;
}
/* give the intro para a different colour. because the starter html already has an element with the intro class, this will change that paragraph.  */
.intro {
   color: purple;
}
/* give the summit heading a different colour, targeting an id */
#summit {
   color: navy;
   }


/* now write two rules targeting the same element type, with the second one having a different colour. */
/* first paragraph colour */
p {
   color: blue;
   line-height: 1.5;
}
/*later paragraph colour overrides the first paragraph colour */
p {
   color: purple;
}
/* because both of these paragraphs have the same specificity, the cascading rule asserts that the last rule written will be applied. so, the paragraphs will appear purple, not blue. */

/* this is beginning week 2 and 3 mods with boxes. */

.trail-section {
   background-color:bisque;
   border: 2px solid navy;
   padding: 30px;
   border-radius: 12px;
   margin-bottom: 40px;
   width: 600px;
   margin-left: auto;
   margin-right: auto;
}
/* padding 30px is the space between the content and the border.
600px is the width of the section that i will check with dev tools.
2px border + 30px padding + 536px content + 30px padding + 2px border = 600px CONFIRMED! :) 40px margin also confirmed w dev tool.
 */

 /* ok now i want to horizontally centre the box. i'm going to put that back up there with the rest of trail selection. */

/* auto means that i'm distributing evently between the left and right margins with how much leftover horizontal space there is. 1000 minus 600 = 400px */

.first-paragraph {
   margin-bottom: 30px;
}

.second-paragraph {
   margin-top: 20px;
}

/* here i have added the margins between my paragraphs labelled first and second. they are not equal because I'm predicting a margin collapse. the gap should be 30px because it is the larger of the two. */

/* confirmed 30 px on dev tools for first-paragraph */
/* second paragraph margin top 20px confirmed on dev tools. */

.media-placeholder {
   width: 100%
   aspect-ratio: 16/9;
}

/* width 100 percent means that the pic will fill its containing element. aspect ratio 16 19 tells the btroswer the proportion of the rectancle. 16 units wide, 9 units tall. */

